Host deva
  HostName 91.106.198.226
  User ubuntu
  ProxyJump bastion

Host devb
  HostName 91.106.198.139
  User ubuntu
  ProxyJump bastion

Host devc
  HostName 91.106.198.241
  User ubuntu
  ProxyJump bastion

Host bastionnso
  HostName 89.42.141.216
  User ubuntu
  IdentityFile ~/.ssh/id_rsa
